
  .portfolio {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .portfolio-content {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
  
  .portfolio h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(49, 49, 66);
  }
  
  .portfolio p {
    font-size: 1.125rem;
    margin-bottom: 40px;
    color: #666;
  }
  
  .portfolio-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .portfolio-card {
    flex: 1 1 calc(25% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .portfolio-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .portfolio-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
  }
  
  .portfolio-card:hover img {
    transform: scale(1.05);
  }
  
  .explore-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #ff5733;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .explore-btn:hover {
    background-color: #c70039;
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 900px) {
    .portfolio-card {
      flex: 1 1 calc(50% - 20px);
    }
  }
  
  @media only screen and (max-width: 600px) {
    .portfolio-card {
      flex: 1 1 100%;
    }
  }
  